{% extends 'layout/base.html.twig' %}
{% block styles %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset("css/home.css") }}">
{% endblock %}
{% block topMenu %}
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active"><a class="nav-link" href="{{ path("home") }}">Список тестов</a></li>
    </ul>
{% endblock %}
{% block nav_content %}
{% endblock nav_content %}
{% block content %}
     <div class="row">
            <section class="col-xl-8">
                <aside class="filter">
                        <div class="alert alert-info ml-2">
                            <form class="form-inline mb-2 d-md-inline mr-2" action="{{ path("home") }}" method="post">
                                <input class="form-control form-row" type="search" name="testName" placeholder="введите название теста...">
                                <input class="btn btn-primary" type="submit" value="поиск">
                            </form>
                            сортировка по: {{ knp_pagination_sortable(pagination, 'возрастанию / убыванию', 't.ctestname') }}

                        </div>
                </aside>
                <ul class="list-group">
                {% for article in pagination %}
                    <li class="list-group-item">
                        <a href="{{ article.getNkey() }}">{{ article.getCtestname() }}</a>
                        <a href="{{ article.getNkey() }}"><span class="badge badge-primary">пройти</span></a>
                        <span class="badge bg-dark float-right">{{ article.getTypeTest().getCelementname() }}</span>
                        <p class="post-desc"><small>{{ article.getCmessage() }}</small></p>
                    </li>
                {% endfor %}
                </ul>
                <div class="row-pagination">
                    <nav aria-label="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </nav>
                </div>
            </section>
                <section class="col-xl-4">
                    <aside class="card text-white bg-dark mb-3 card__none-radius">
                        <header class="card-header">
                            <h5 class="card-title text-center card-title__text">Индивидульная карта</h5>
                        </header>
                        <footer class="card-body">
                            <h6 class="card-title">Тимур Неронов:</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-dark">Организация: Элерон</li>
                                <li class="list-group-item bg-dark">Тип пользователя: администратор</li>
                            </ul>
                            <div class="card-body">
                                <a href="{{ path("dashboard_admin") }}" class="card-link">панель администратора</a>
                                <a href="{{ path("logout") }}" class="card-link">выйти</a>
                            </div>
                        </footer>
                    </aside>
                </section>
        </div>
    </main>
{% endblock %}